<div>
    <app-cart></app-cart>
</div>
<!-- <div class="row">
    <div class="col-md-6 p-4 text-center ">
        <img [src]="productDetail?.imageUrl"width="50%"alt="">
    </div>
    <div class="col-md-6 pt-4">
        <h1>{{productDetail?.productName}}</h1>
        <div class="crop"[style.width.px]="(productDetail?.starRating!*90)/5">
            <div style="width: 90px;">
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>
            </div>
        </div>
        <div class="text-justify">
            <h3>Code: {{productDetail?.productCode}}</h3>
        </div>
        <h3>Date: {{ productDetail?.releaseDate}}</h3>
        <h3>Price : {{ productDetail?.price}} </h3>
        <h5>Description: {{ productDetail?.description}}</h5>
        <button class="btn btn-primary"routerLink="/">Back</button>
        <br>
    </div>
</div> -->