<div class="row">
  <div class="col-4 text-center">
    <img class="p-3" src="{{productDetail?.imageUrl}}" style="width: 350px;
      height: 250px;">
  </div>
  <div class="col-5">
    <h1>{{productDetail?.productName}}</h1>
    <div class="crop" [style.width.px]="(productDetail?.starRating!*90) /5"><!--dùng ng-for hiển thị rating -->
      <div style="width: 90px;">
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
      </div>
    </div>
    <div class="text-justify">
      <h4>Code: {{productDetail?.productCode}}</h4>
    </div>
    <div class="text-justify">
      <h5>description: </h5>
      {{productDetail?.description}}
    </div>
    <h3>Price : {{ productDetail?.price|currency}} </h3>
    <h5>Quantity in stock : {{InStock}} </h5>
    <button class="btn btn-primary" [disabled]="InStock<1" (click)="Add()">Buy</button>
  </div>
  <div class="col-3">
    <div style="border: 1pxsolidblack;margin-top: 10px;padding: 10px;">
      <a href="#" style="float: left;">
        <i class="fas fa-shopping-cart" style="font-size: 50px;">
        </i></a>
      <div class="text-center">
      {{ ItemCount()}}<br>Total :{{ ItemSum() |currency}}<br>
      <button class="btn btn-primary" style="margin-top: 10px;" data-toggle="modal" data-target="#modelId">View
        Cart</button>
    </div>
  </div>
</div>
</div>



<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <table style="width: 100%;" class="text-center table">
        <tr>
          <th>Picture</th>
          <th>Product name</th>
          <th>Price</th>
          <th>Quantity</th>
          <th>Total amount</th>
          <th></th>
        </tr><!--dùng ng-for thể hiện giỏ hàng -->
        <tr *ngFor="let item of cartList;let i=index">
          <td>
            <img src="{{item.ImageUrl}}" style="height: 100px;width: 100px;">
          </td>
          <td class="align-middle"> {{item.Name}}</td>
          <td class="align-middle">{{item.Price|currency}}</td>
          <td class="align-middle">{{item.Quantity}}</td>
          <td class="align-middle">{{item.Price!*item.Quantity!|currency}}</td>
          <td class="align-middle">
            <button class="btn btn-danger" (click)="Remove(i)">Remove</button>
          </td>
        </tr>
        <tr>
          <th colspan="2">
          </th>
          <th>Sum price:</th>
          <th>{{ItemCount()}}</th>
          <th>{{ ItemSum() |currency}}</th>
          <th>
            <button class="btn btn-danger" (click)="DeleteAll()">Delete All</button>
          </th>
        </tr>
      </table>
    </div>
  </div>
</div>